<!--partial form for event new and edit  -->
<%= form_for event do |f| %>

  <p>
    <%= f.label :date %>
    <%= f.date_field :date %>
  </p>

  <p>
    <%= f.label :capacity %>
    <%= f.number_field :capacity %>
  </p>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit %>
  </p>


<% end %>
